body{
margin:0;
overflow:hidden;
background:skyblue;
font-family:Arial;
}

.road{
position:absolute;
bottom:0;
width:100%;
height:220px;
background:#444;
overflow:hidden;
}

.line{
position:absolute;
top:105px;
width:300%;
height:10px;
background:repeating-linear-gradient(
90deg,
white 0 80px,
transparent 80px 150px
);
animation:road 1s linear infinite;
}

@keyframes road{
from{transform:translateX(0);}
to{transform:translateX(-150px);}
}

#tuktuk{
position:absolute;
bottom:80px;
left:-120px;
font-size:100px;
cursor:pointer;
animation:drive 8s linear infinite;
}

@keyframes drive{
0%{left:-120px;}
100%{left:110%;}
}

#hint{
position:absolute;
top:20px;
left:50%;
transform:translateX(-50%);
background:white;
padding:10px 20px;
border-radius:20px;
font-size:22px;
font-weight:bold;
}
