*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    background:linear-gradient(#6ec6ff,#bde9ff);
    height:100vh;
    position:relative;
}

/* السماء */
.sky{
    position:absolute;
    width:100%;
    height:75%;
    background:linear-gradient(#6ec6ff,#dff7ff);
}

/* الطريق */
.road{
    position:absolute;
    bottom:0;
    width:300%;
    height:25%;
    background:#3d3d3d;
    animation:roadMove 2s linear infinite;
}

.road::before{
    content:"";
    position:absolute;
    width:100%;
    height:8px;
    background:repeating-linear-gradient(
        to right,
        white 0px,
        white 70px,
        transparent 70px,
        transparent 120px
    );
    top:50%;
}

/* حركة الطريق */
@keyframes roadMove{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-33.33%);
    }
}

/* التوكتوك */
#tuktuk{
    position:absolute;
    bottom:90px;
    left:-260px;
    width:240px;
    animation:drive 12s linear infinite,
               shake .15s infinite;
}

/* صورة التوكتوك */
#body{
    width:100%;
}

/* حركة التوكتوك */
@keyframes drive{
    0%{
        left:-260px;
    }

    100%{
        left:110%;
    }
}

/* اهتزاز */
@keyframes shake{
    0%{transform:translateY(0);}
    50%{transform:translateY(-2px);}
    100%{transform:translateY(0);}
}

/* الكتابة على الضهر */
.backText{
    position:absolute;
    right:15px;
    top:45px;

    width:60px;

    color:#fff;
    font-size:16px;
    font-weight:bold;

    text-align:center;

    text-shadow:
    2px 2px 3px black;
}
