*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
overflow:hidden;
height:100vh;
background:linear-gradient(#7ec8ff,#dff7ff);
font-family:Arial;
}

.sky{
position:absolute;
width:100%;
height:70%;
}

.road{
position:absolute;
bottom:0;
width:100%;
height:220px;
background:#444;
overflow:hidden;
}

.line{
position:absolute;
top:105px;
width:300%;
height:10px;
background:repeating-linear-gradient(
90deg,
white 0 80px,
transparent 80px 150px
);
animation:road 1s linear infinite;
}

@keyframes road{
from{transform:translateX(0);}
to{transform:translateX(-150px);}
}

#tuktuk{
position:absolute;
bottom:90px;
left:-120px;
font-size:110px;
cursor:pointer;
animation:drive 9s linear infinite,shake .12s infinite;
}

@keyframes drive{
0%{left:-120px;}
100%{left:110%;}
}

@keyframes shake{
0%,100%{transform:translateY(0);}
50%{transform:translateY(-2px);}
}

.text{
position:absolute;
left:85px;
top:35px;
background:#ffd500;
padding:5px 10px;
border-radius:10px;
font-size:18px;
font-weight:bold;
white-space:nowrap;
}

#hint{
position:absolute;
top:20px;
left:50%;
transform:translateX(-50%);
background:white;
padding:10px 20px;
border-radius:20px;
font-weight:bold;
box-shadow:0 0 10px #0003;
}
